*{
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.banner{
  background-color: #000000(255, 255, 255);
  height: 100x;
}
.navbar{
  width: 85%;
  margin: auto;
  padding:10 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 200px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  bution: relative;
}
.navbar ul li a{
  text-decoration: none;
  color:rgb(39, 39, 39);
  font-size: 1.1em;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #535353;
  position:absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.ptt{
  display: flex;
  justify-content: space-around;
}
.butt a{
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 20px 50px;
  transition: 0.5s;
  top: -132px;
  right: -1100px;
  font-weight:bold;
  z-index: 1;
  margin-top: -180px;
  
 
  
}
.butt a:hover{
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 10px var(--clr);
}
.butt a::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: #131314de;
}
.butt a span{
  position: relative;
  z-index: 1;
}
.butt a i{
  position: absolute;
  inset: 0;
  display: block;
}
.butt a i::before{
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #1313149f;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.butt a:hover i::before{
 width: 20px;
 left: 20%;

}
.butt a i::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #1313149f;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.butt a:hover i::after{
 width: 20px;
 left: 80%;
 
}
#123{
  background-image: url(/images/logo.png);
  z-index: 1;
}
.cell{
  width: 33%;
  height: 350px;
  margin:0 15px;
  overflow: hidden;
  border-radius: 8px;
}
.cell img{
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.nabigation{
  position: relative;
  width: 100%px;
  height: 60px;
  background: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-bottom: 50px;
}   
.nabigation ul{
  display: flex;
  width: 350px;
}
.nabigation ul li{
list-style: none;
position: relative;
width: 70px;
height: 60px;
z-index: 2;
} 
.nabigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} 
.nabigation ul li a .icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  line-height: 65px;
  border-radius: 50%;
  background: #2a2a2a;
  text-align: center;
  font-size: 1.5em;
  transition: 0.5s;
  transition-delay: 0s;
}
.nabigation ul li.active a .icon{
  background-color: var(--clr);
  color: rgb(39, 39, 39);
  transform: translateY(-27px);
  transition-delay: 0.25s;
}
.nabigation ul li a .icon::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: 20%;
  filter:blur(12px);
  opacity:0;
  transition: 0.5s;
  transition-delay: 0s;
}
.nabigation ul li.active a .icon::before{
  opacity: 0.5;
  transition-delay: 0.5s;
}

.indicator{
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: rgb(39, 39, 39);
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}
.indicator::before{
  content: '';
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px rgb(39, 39, 39); 
}
.indicator::after{
  content: '';
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px rgb(39, 39, 39); 
}
.nabigation ul li:nth-child(1).active~.indicator
{
  transform: translateX(calc(70px*0));
}
.nabigation ul li:nth-child(2).active~.indicator
{
  transform: translateX(calc(70px*1));
}
.nabigation ul li:nth-child(3).active~.indicator
{
  transform: translateX(calc(70px*2));
}
.nabigation ul li:nth-child(4).active~.indicator
{
  transform: translateX(calc(70px*3));
}
.nabigation ul li:nth-child(5).active~.indicator
{
  transform: translateX(calc(70px*4));
}

.container-img{
width: 100%;
height: 640px;
margin-left:auto;
margin-right: auto;
border-radius: 20px;
background: rgb(255, 255, 255);
}
.container-img img{
width: 100%;
height: 100%;
}
.gallery-img{
width: 66%;
height: 550px;
margin-right: 20px;
border-radius: 20px;
background: rgb(255, 255, 255);
counter-increment: gallery-cell;
margin-bottom: 10px;
}
.gallery-cell {
  width: 66%;
  height: 550px;
  margin-right: 20px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  counter-increment: gallery-cell;
  margin-bottom: 10px;
}
.gallery-cell img{
  
  width: 100%;
  height: 550px;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* cell number */


/*-----------------------------*/
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  filter: alpha(opacity=60); /* IE8 */
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  filter: alpha(opacity=30); /* IE8 */
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 100px;
  margin: 0 8px;
  background: rgb(218, 218, 218);
  border-radius: 50%;
  filter: alpha(opacity=25); /* IE8 */
  opacity: 0.25;
  cursor: pointer;

}

.flickity-page-dots .dot.is-selected {
  filter: alpha(opacity=100); /* IE8 */
  opacity: 1;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: hsl(0, 0%, 100%);
  padding-right: 40px;
  color:#fff;
}


.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:rgb(39, 39, 39) ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(245, 136, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.card{
  background-color: rgb(255, 255, 255);
  height: 1550;
  margin-top: 50px;
  
}
.search{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100;
}
.card-text{
  text-align: left;
  height: 80;
  font-size: 3em;
  font-weight: bold;
  color: white;
}
.card-h1{
  font-size: 50px;
}
.card-li{
  font-size: 80px;
}







/* 測試*/



body
{
background: #2a2a2a;
font-family: 'RobotoDraft', 'Roboto', sans-serif;
-webkit-font-smoothing: antialiased;
color:#ffffff;

}

*
{
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

h5
{
margin:0px;
font-size:1.4em;
font-weight:700;
}

p
{
font-size:12px;
}

.center
{
height:40vh;
width:100%;
display: flex;
justify-content: center;
margin-top :3px;
}

/* End Non-Essential  */

.property-card
{
height:20em;
width:40em;
margin-top: 2px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
position:relative;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
border-radius:16px;
overflow:hidden;
-webkit-box-shadow:  15px 15px 27px #3a3a3a, -15px -15px 27px #3a3a3a;
box-shadow:  15px 15px 27px #2b2b2b, -15px -15px 27px #272727;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
height:20em;
width:40em;
position:absolute;
top:0px;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
background-image:url("assets/images/1111.jpg");
background-size:cover;
background-repeat:no-repeat;
display: flex;
text-align: center;
}

/* Bottom Card Section */

.property-description
{
color:#ffffff;
background-color: #fafafc00;
height:12em;
width:14em;
position:absolute;
bottom:-7.5em;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
padding: 0.5em 1em;
text-align:left;
}

/* Social Icons */

.property-social-icons
{
width:1em;
height:1em;
background-color:black;
position:absolute;
bottom:1em;
left:1em;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
height:0em;
padding:0px 1em;
}

/*
.property-card:hover .property-image
{
height:18em;
}*/

.property-card:hover .property-social-icons
{
background-color:white;
}

.property-card:hover .property-social-icons:hover
{
background-color:blue;
cursor:pointer;
}


/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/

/* header */
.header-area {
background-color: transparent;
position: absolute;
height: 70px;
top: 30px;
left: 0;
right: 0;
z-index: 100;
-webkit-transition: all .5s ease 0s;
-moz-transition: all .5s ease 0s;
-o-transition: all .5s ease 0s;
transition: all .5s ease 0s;
}

.header-area .main-nav {
  margin-left: 300px;
  text-align: center;
  min-height: 80px;
  width: 1300px;
  background: transparent;
  display: flex;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 50px;
}

.background-header .main-nav {
padding: 0px;
background-color: transparent;
}

.header-area .main-nav .logo {
flex-basis: 30%;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
width: 223px;
}

.background-header .main-nav .logo {
margin-top: 8px;
}

.background-header .main-nav .logo img {
width: 180px;
}

.header-area .main-nav .nav {
display: inline-flex;
flex-basis: 70%;
justify-content: flex-end;
vertical-align: middle;
text-align: right;
margin-top: 15px;
margin-right: 0px;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: relative;
z-index: 999;
}

.header-area .main-nav .nav li {
padding-left: 10px;
padding-right: 10px;
display: inline-block;
}

.header-area .main-nav .nav li a {
display: block;
font-weight: 500;
font-size: 14px;
text-transform: capitalize;
color: #2a2a2a;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
border: transparent;
padding: 8px 15px;
border-radius: 18px;
letter-spacing: 1px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
color: #fff;
background-color: #3d3d3d;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
color: #fff;
opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
position: relative;
padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
cursor: pointer;
display: block;
position: absolute;
top: 33px;
width: 32px;
height: 40px;
text-indent: -9999em;
z-index: 99;
right: 20px;
display: none;
}

.background-header .main-nav .menu-trigger {
top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
-webkit-transition: all 0.4s;
transition: all 0.4s;
background-color: #3d3d3d;
display: block;
position: absolute;
width: 30px;
height: 2px;
left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
background-color: #3d3d3d;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
-webkit-transition: all 0.4s;
transition: all 0.4s;
background-color: #3d3d3d;
display: block;
position: absolute;
width: 30px;
height: 2px;
left: 0;
width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
background-color: #3d3d3d;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
content: "";
}

.header-area .main-nav .menu-trigger span {
top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
-moz-transform-origin: 33% 100%;
-ms-transform-origin: 33% 100%;
-webkit-transform-origin: 33% 100%;
transform-origin: 33% 100%;
top: -10px;
z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
-moz-transform-origin: 33% 0;
-ms-transform-origin: 33% 0;
-webkit-transform-origin: 33% 0;
transform-origin: 33% 0;
top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
background-color: transparent;
width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
-moz-transform: translateY(6px) translateX(1px) rotate(45deg);
-ms-transform: translateY(6px) translateX(1px) rotate(45deg);
-webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
transform: translateY(6px) translateX(1px) rotate(45deg);
background-color: #3d3d3d;
}

.background-header .main-nav .menu-trigger.active span:before {
background-color: #3d3d3d;
}

.header-area .main-nav .menu-trigger.active span:after {
-moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
-ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
-webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
transform: translateY(-6px) translateX(1px) rotate(-45deg);
background-color: #3d3d3d;
}

.background-header .main-nav .menu-trigger.active span:after {
background-color: #3d3d3d;
}

.header-area.header-sticky {
min-height: 70px;
}

.header-area.header-sticky .nav li a.active {
color: #fff;
}

@media (max-width: 1200px) {
.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
}
.header-area .main-nav:before {
  display: none;
}
}

@media (max-width: 992px) {
.header-area {
  top: 0;
}
.header-area .main-nav {
  background-color: transparent;
  border-radius: 0px;
}
.header-area .main-nav .nav {
  height: auto;
  flex-basis: 100%;
}
.header-area .main-nav .logo {
  position: absolute;
  left: 30px;
  top: 15px;
}
.background-header .main-nav .logo {
  top: 0px;
}
.background-header .main-nav .border-button {
  top: 0px !important;
}
.header-area .main-nav .border-button {
  position: absolute;
  top: 15px;
  right: 70px;
}
.header-area.header-sticky .nav li a:hover,
.header-area.header-sticky .nav li a.active {
  color: #3d3d3d!important;
  opacity: 1;
}
.header-area.header-sticky .nav li.search-icon a {
  width: 100%;
}
.header-area {
  background-color: #f7f7f7;
  padding: 0px 15px;
  height: 100px;
  box-shadow: none;
  text-align: center;
}
.header-area .container {
  padding: 0px;
}
.header-area .logo {
  margin-left: 0px;
}
.header-area .menu-trigger {
  display: block !important;
}
.header-area .main-nav {
  overflow: hidden;
}
.header-area .main-nav .nav {
  float: none;
  width: 100%;
  display: none;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  margin-left: 0px;
}
.header-area.header-sticky .nav {
  margin-top: 85px !important;
  text-align: center;
}
.background-header.header-sticky .nav {
  margin-top: 70px !important;
}
.header-area .main-nav .nav li:first-child {
  border-top: 1px solid #eee;
}
.header-area .main-nav .nav li {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding-left: 0px !important;
  padding-right: 0px !important;
  
}
.header-area .main-nav .nav li a {
  height: 50px !important;
  line-height: 50px !important;
  padding: 0px !important;
  border: none !important;
  background: #fff !important;
  color: #1e1e1e !important;
}
.header-area .main-nav .nav li a:hover {
  background: #fff !important;
  color: #3d3d3d!important;
}
.header-area .main-nav .nav li.has-sub ul.sub-menu {
  position: relative;
  visibility: inherit;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  top: 0px;
  width: 100%;
  box-shadow: none;
  height: 0px;
  transition: all 0s;
}
.header-area .main-nav .nav li.submenu ul li a {
  font-size: 12px;
  font-weight: 400;
}
.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 0px;
}
.header-area .main-nav .nav li.has-sub ul.sub-menu {
  height: auto;
}
.header-area .main-nav .nav li.has-sub:after {
  color: #3B566E;
  right: 30px;
  font-size: 14px;
  top: 15px;
}
.header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
  height: 0px;
}
}
.main-button1 a {
  z-index: 5;
  position: absolute;
  top: 235px;
  right: 350px;
  font-size: 14px;
  color: rgb(63, 63, 63);
  background-color: #ffffff;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 15px;
  font-weight: 5000;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  
  overflow: hidden;
}

.main-button1 a:after {
  width: 78%;
  height: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.main-button1 a:hover {
  background-color: #c49dd3;
  color: #ffffff;
  
}

.discover-items {
  background-image: url(../images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 200px 0px 20px 0px;
  position: relative;
}

.discover-items .section-heading {
  text-align: left;
}

.discover-items .section-heading .line-dec {
  margin-left: 0;
}

.discover-items #search-form {
  margin-top: 15px;
}

.discover-items #search-form input,
.discover-items #search-form select {
  width: 100%;
  height: 46px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 23px;
  background-color: transparent;
  padding: 0px 15px;
  font-size: 14px;
  color: #fff;
}

.discover-items #search-form select {
  cursor: pointer;
}

.discover-items #search-form select option {
  background-color: #2a2a2a;
}

.discover-items #search-form input::placeholder,
.discover-items #search-form select::placeholder {
  color: #fff;
}

.discover-items #search-form button {
  font-size: 14px;
  color: #fff;
  background-color: #8f7070;
  border: 1px solid #8f7070;
  height: 46px;
  line-height: 46px;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.discover-items #search-form button:after {
  width: 78%;
  height: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.discover-items #search-form button:hover {
  background-color: #fff;
  color: #8f7070;
  border: 1px solid #fff;
}

.discover-items .item span.banner {
  font-size: 15px;
  background-color: #8f7070;
  color: #fff;
  font-weight: 500;
  padding: 5px 15px;
  display: inline-block;
  position: absolute;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
}

.discover-items .item span.author {
  display: inline-flex;
  width: 100%;
}

.discover-items .item span.author img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.discover-items .item img {
  margin-top: -32px;
  position: relative;
  z-index: 1;
}

.discover-items .item h4 {
  font-size: 20px;
  margin-top: 30px;
}

.discover-items .item .line-dec {
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255,0.2);
  margin: 30px 0px;
}

.discover-items .item {
  background-color: #282b2f;
  border: 1px solid #404245;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 52px;
}

.discover-items .item span {
  color: #fff;
  display: inline-block;
  font-size: 15px;
}

.discover-items .item span strong {
  font-size: 20px;
}

.discover-items .item span.category {
  text-align: right;
}

.discover-items .item .main-button {
  margin-top: 20px;
  margin-bottom: -60px;
  text-align: center;
}

.section-heading {
  position: relative;
  z-index: 2;
  margin-left: 250px;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
}

.section-heading .line-dec {
  width: 100px;
  height: 2px;
  background-color: #8f7070;
  margin: 0 auto 30px auto;
}

.section-heading h2 {
  margin-top: 10px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.section-heading h2 em {
  color: #8f7070;
  font-style: normal;
}